# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/
*.egg-info/
dist/
build/

# R
.Rhistory
.RData
.Rproj.user/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# General
*.log
*.tmp
